.info-header {
  height: 40px;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.ivu-modal-header-inner {
  margin: 10px 15px 0px 0px;
  padding-left: 15px;
  height: 40px;
}

.ivu-modal-close {
  margin: 10px 15px 0px 0px;
}

.ivu-form-item {
  width: 260px;
}
